ul.tareas{
    list-style-type: none;
    
    li{
        border: 1px solid #393939;
        padding: 5px 10px;
        margin: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .icono{
            color: lightgreen;
            font-size: 0.8 rem;
    
            &:hover{
                color: #30e230;
            }
        }
    };
    .terminada{
        background-color: #d2eb63;
    }
}

form{
    fieldset{
        border: none;
        input[type="submit"]{
            cursor: pointer;
            margin-right: 10px;
        }
    }
}
.error{
    font-weight: normal;
    background-color: pink;
    color: red;
    border: 1px solid red;
    padding: 5px 10px;
    border-radius: 7px;
}
.languages{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    span{
        cursor: pointer;
        font-size: 1.5rem;
    }
}