ul.tareas{
    list-style-type: none;
    
    li{
        border: 1px solid #393939;
        padding: 5px 10px;
        margin: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .icono{
            color: lightgreen;
            font-size: 0.8 rem;
    
            &:hover{
                color: #30e230;
            }
        }
    };
    .terminada{
        background-color: #d2eb63;
    }
}

form{
    fieldset{
        border: none;
        input[type="submit"]{
            cursor: pointer;
            margin-right: 10px;
        }
    }
}
