ul.tareas{
    list-style-type: none;
    
    li{
        border: 1px solid #393939;
        padding: 5px 10px;
        margin: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icono{
            color: lightgreen;
            font-size: 0.8 rem;
            cursor: pointer;
    
            &:hover{
                color: #63eb63;
            }
        }
    };
    .terminada{
        background-color: #d2eb63;
    }
}
